
append content
  .container
    section.grid
      each image in contentImages
        div.row
          div.col-port-land Portrait Image
            img.col-port-land__image(src='' alt='Image Title')
          div.col-port-land landscape Image
            img.col-port-land__image(src='' alt='Image Title')
        div.row
          div.col-port Portrait Md Image
            img.col-port__image(src='' alt='Image Title')
          div.col-port Portrait Md Image
            img.col-port__image(src='' alt='Image Title')
        div.row
          div.col-land-port Landscape Image
            img.col-land-port__image(src='' alt='Image Title')
          div.col-land-port Portrait Image
            img.col-land-port__image(src='' alt='Image Title')

